/* ==========================================================================
   Animations
   ========================================================================== */


/* Bouncing animation
   ========================================================================== */
// @keyframes bouncingAnimation {
//     0% {
//         transform: translate3d(0,-5px,0);
//     }
//     50% {
//         transform: translate3d(0,0,0);
//     }
//     100% {
//         transform: translate3d(0,-5px,0);
//     }
// }
// .ui-bounce-anim {
//     animation-name: bouncingAnimation;
//     animation-duration: 1s;
//     animation-iteration-count: infinite;
//     &:hover {
//         @include helper--stop-animation;
//     }
// }

.ui-animation-hook {
   &.ui-animation-hook--up    { transform: translate(0px, 16px);  }
   &.ui-animation-hook--down  { transform: translate(0px, -16px); }
   &.ui-animation-hook--left  { transform: translate(16px, 0px);  }
   &.ui-animation-hook--right { transform: translate(-16px, 0px); }

   &.ui-animation-hook--up,
   &.ui-animation-hook--left,
   &.ui-animation-hook--right,
   &.ui-animation-hook--down {
      transition: .7s ease all;
      opacity: 0;

      &.is-active {
         opacity: 1;
         transform: translate(0px, 0px);
      }
   }
}
