/* ==========================================================================
   Icons
   ========================================================================== */

/* styles for fontello icons
.o-icon {
    font-family: $font_ico;
    line-height: 1;

    @extend %helper--inline-flex--center--center;
    &:before {
        margin: 0;

        line-height: 1;

        @extend %helper--inline-flex--center--center;
    }
}
*/

svg:not(:root) {
    overflow: auto;
}

.o-icon {
    display: inline;

    width: $size_default_icon;
    max-width: $size_default_icon;
    height: $size_default_icon;
    max-height: $size_default_icon;

    fill: currentColor;
    &--arrow-left,
    &--arrow-right {
        font-size: $font_s;
    }
    &--search {
        font-size: $font_m;
    }
    &--twitter,
    &--facebook,
    &--pinterest,
    &--instagram,
    &--linkedin,
    &--snapchat {
        font-size: $font_m;

        color: $color_semi_gray;
    }
    &--close {
        font-size: $font_3xs;
    }
    &--chat {
        font-size: $font_2xs;
    }
}

.c-icon-wrapper {
    line-height: 1;
}

.c-icon-wrapper + .c-label {
    margin-left: $size_gutter/2;
}
