/* ==========================================================================
   COMMON
   ========================================================================== */

.t-upper {
    text-transform: uppercase;
}

.t-space-wide {
    letter-spacing: 1px;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

/* ==========================================================================
   LINKS
   ========================================================================== */
.u-default-link-anim {
    @include helper--link-anim;

    color: currentColor;
    &:hover {
        @include helper--link-anim-dash-on-hover;
    }
}
