/* ==========================================================================
   Typography
   ========================================================================== */


/* Global texts
========================================================================== */
html {
    @include font-smoothing(on);

    font-size: 16px;
}
body {
    font-family: $font_default;
    line-height: 1.4;

    color: $color_default;
    * {
        word-wrap: break-word;
    }
}

a {
    cursor: pointer;
    text-decoration: none;

    color: currentColor;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
    &:not([class]) {
        @include helper--link-anim;

        color: $color_default_link;
        &:hover {
            @include helper--link-anim-dash-on-hover;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
    &:not([class]) + &:not([class]) {
        margin-top: $size_gutter;
    }
}
