/* ==========================================================================
   Author
   ========================================================================== */

.c-author {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    &__avatar {
        flex-shrink: 0;
        .o-img-wrapper img {
            display: block;

            width: $avatar_size;
            max-width: 100%;
            height: $avatar_size;

            border-radius: 50%;
        }
        & + .c-author__content {
            margin-left: $size_gutter;
        }
    }
    &__content {
        width: calc(100% - #{$avatar_size} - #{$size_gutter});
        &__top {
            p {
                margin-top: 0;
            }

            & + .c-author__content__desc {
                margin-top: $size_gutter;
            }
        }
        &__desc {
            & + .c-author__content__socials {
                margin-top: $size_gutter;
            }
        }
    }
}

.c-author {
    @include media('<=phone') {
        &__avatar {
            display: none;
            & + .c-author__content {
                margin-left: 0;
            }
        }
        &__content {
            width: 100%;
            &__top {
                align-items: flex-start;
                align-content: flex-start;
            }
        }
    }
}
