/* ==========================================================================
   Categories nav
   ========================================================================== */

.c-categories-nav-list {
    @include helper--list;
    @include helper--inline-flex;

    flex-direction: column;

    align-content: flex-start;
    align-items: flex-start;
    &__item {
        @include helper--inline-flex;
        &__link {
            @include helper--link-anim
            @include helper--transition;

            display: block;

            padding: $main_nav_space 0;
        }
        &:not(:last-child) {
            margin-bottom: $size_gutter*.75;
        }
    }
}

.c-categories-nav-list {
    @include media('<=phone-small') {
        &__item:not(:last-child) {
            margin-bottom: $size_gutter*.75;
        }
    }
}

.c-categories-nav-list {
    @include media('<=phone-small') {
        &__item:not(:last-child) {
            margin-bottom: $size_gutter/2;
        }
    }
}

.c-categories-nav__title {
    & + .c-categories-nav-list {
        margin-top: $size_gutter*1.5;
    }
}

.c-categories-nav__title {
    @include media('<=phone-small') {
        & + .c-categories-nav-list {
            margin-top: $size_gutter;
        }
    }
}

.c-main-nav-list {
    & + .c-categories-nav {
        margin-top: $size_gutter*5;
    }
}

.c-main-nav-list {
    @include media('<=tablet') {
        & + .c-categories-nav {
            margin-top: $size_gutter*3.5;
        }
    }
}

.c-main-nav-list {
    @include media('<=phone') {
        & + .c-categories-nav {
            margin-top: $size_gutter*2.5;
        }
    }
}
