/* ==========================================================================
   Boxes
   ========================================================================== */

.c-categories {
    display: flex;

    align-content: flex-end;
    align-items: flex-end;
}

.c-categories-list {
    @include helper--list;

    display: flex;

    flex-wrap: wrap;

    align-items: flex-end;
    align-content: flex-end;
    &__item {
        margin-right: $category_space;
        
        &__link {
            @include helper--transition;

            display: block;
            &:hover {
                color: $color_semi_gray;
            }
        }
    }
}

.c-post {
    & + .c-categories-list {
        margin-top: $size_gutter*2.5;
    }
}
