/* ==========================================================================
   Comments list
   ========================================================================== */

.c-comments-list {
    @include helper--list;
    &__item {
        margin-bottom: $size_gutter*2;
        padding-bottom: $size_gutter*2;

        border-bottom: 1px solid $color_light_gray;
    }
}
