/* ==========================================================================
Comments
========================================================================== */

.c-comments-box {
    display: none;
    &__header {
        display: flex;

        padding: $size_gutter;

        border-radius: $border_radius;

        align-items: center;
        align-content: center;
        & + .c-comments-box__content {
            margin-top: $size_gutter*2;
        }
    }
}

.c-comment {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
    &__avatar {
        flex-shrink: 0;
        .o-img-wrapper img {
            display: block;

            width: $avatar_size;
            max-width: 100%;
            height: $avatar_size;

            border-radius: 50%;
        }
        & + .c-comment__content {
            margin-left: $size_gutter;
        }
    }
    &__content {
        width: calc(100% - #{$avatar_size} - #{$size_gutter});
        &__top {
            display: flex;

            align-items: center;
            align-items: center;
            justify-content: space-between;
            &__author {
                & + .c-comment__content__top__action {
                    padding-left: $size_gutter/2;
                }
            }
            & + .c-comment__content__desc {
                margin-top: $size_gutter;
            }
        }
    }
    & + .c-reply-list {
        margin-top: $size_gutter*2;
        padding-top: $size_gutter*2;

        border-top: 1px solid $color_light_gray;
    }
}

.c-comment {
    @include media('<=phone') {
        &__avatar {
            display: none;
            & + .c-comment__content {
                margin-left: 0;
            }
        }
        &__content {
            width: 100%;
            &__top {
                align-items: flex-start;
                align-content: flex-start;
            }
        }
    }
}
