/* ==========================================================================
   Gutenberg blocks
   ========================================================================== */
.wp-block-button {
    margin-top: $size_gutter;
}

.block-editor-writing-flow {
    overflow-x: hidden;
}

.wp-block-table.is-style-stripes {
    width: 100%;
    word-wrap: break-word;
    border: 2px solid $color_black;
    border-spacing: 0;
    table-layout: fixed;

    table {
        border-spacing: 0;
    }

    td {
        padding: $social_share_icon_size $social_share_icon_alt_size;
    }
}

.wp-block-table.is-style-regular {
    width: 100%;
    word-wrap: break-word;
    border: 2px solid $color_black;
    border-spacing: 0;
    table-layout: fixed;

    table {
        border-spacing: 0;
    }

    td {
        border-right: 1px solid $color_black;
        border-bottom: 1px solid $color_black;
        padding: $social_share_icon_size $social_share_icon_alt_size;

        &:last-child {
            border-right: none;
        }
    }

    tr {
        &:last-child {
            td {
                border-bottom: none;
            }
        }
    }
}


.wp-block-quote {
    margin: 2rem auto 3rem;
    text-align: center;
    border: none;
    font-size: 1.625rem;
    font-weight: 500;
    line-height: 1.23;
    font-family: 'Times New Roman', serif;

    &::before {
        font-family: serif;
        font-size: 4rem;
        font-weight: normal;
        line-height: 1;
        content: '\201D';
        text-align: center;
        text-transform: none;
        color: $color_purple;
        speak: none;
    }

    cite {
        font-size: .9375rem;
        font-style: normal;
        line-height: 1.69em;
    }
}


.wp-block-embed {
    margin-top: $size_gutter;
}

.wp-block-separator {
    margin-top: $size_gutter*2;
    margin-bottom: $size_gutter*2;
}
