/* ==========================================================================
   Logos
   ========================================================================== */

.c-logo--main {
    .c-logo__inner {
        display: block;

        width: 100%;
        height: auto;
        .c-label {
            display: block;
            overflow: hidden;

            width: 0;
            height: 0;

            text-indent: -999em;
        }
        img {
            max-width: $logo_main_width;
            height: auto;
            max-height: $logo_main_width;
            margin: 0 auto;
        }
    }
    & + .c-subtitle {
        margin-top: $size_gutter*.75;
    }
}
