/* ==========================================================================
   Msg
   ========================================================================== */

.c-msg {
    position: relative;

    border-radius: $border_radius;
    &__inner {
        display: flex;

        padding: $size_gutter $size_gutter*1.5;

        align-content: center;
        align-items: center;
    }
    &__action {
        @include helper--transition;

        position: absolute;
        top: 50%;
        right: $size_gutter*1.5;

        display: flex;

        padding: $size_gutter/2;

        line-height: 1;

        transform: translateY(-50%);

        border-radius: 50%;
        background: rgba(255, 255, 255, .15);

        flex-shrink: 0;
        .o-icon--close {
            font-size: 14px;
        }
        &:hover {
            background: rgba(255, 255, 255, .25);
        }
    }
    & + .c-post,
    & + .c-author {
        margin-top: $size_gutter*4;
    }
    .c-label {
        position: relative;
        &:first-of-type {
            &:after {
                position: absolute;
                top: 0;
                right: -$size_gutter;

                display: block;

                content: '|';

                color: currentColor;
            }
        }
        & + .c-label {
            margin-left: $size_gutter*2;
        }
    }
    .o-icon {
        stroke: currentColor;
    }
}

.c-msg {
    @include media('<=phone') {
        & + .c-author,
        & + .c-post {
            margin-top: $size_gutter*2;
        }
    }
}
