/* ==========================================================================
   Newsletter
   ========================================================================== */

.c-newsletter__header {
    & + .c-newsletter__action {
        margin-top: $size_gutter*2;

        .is-hidden {
            display: none;
        }

        .is-invalid {
            color: $color_red;
        }

        .is-valid {
            color: $color_green;
        }
    }
}

.c-newsletter-teaser {
    display: flex;

    text-align: right;

    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    &__info {
        width: 100%;
    }
}

.c-newsletter-teaser {
    @include media('<=phone') {
        text-align: center;

        order: 1;
    }
}
