/* ==========================================================================
   Post info
   ========================================================================== */

.c-post-info {
    display: flex;

    align-items: flex-start;
    align-content: flex-start;
    &__author {
        display: flex;

        align-items: flex-start;
        align-content: flex-start;
        & + .c-post-info__date {
            margin-left: $size_gutter*1.5;
        }
        &__pre {
            & + .c-post-info__author__name {
                margin-left: $size_gutter/4;
            }
        }
        &__name {
            @include helper--transition;

            display: block;
            &:hover {
                color: $color_semi_gray;
            }
        }
    }
    &__date__info {
        @include helper--transition;

        display: block;
        &:hover {
            color: $color_semi_gray;
        }
    }
    &--alt {
        .c-post-info__author__name,
        .c-post-info__date__info {
            &:hover {
                color: $color_light_gray;
            }
        }
    }
}

.c-post-info__author {
    @include media('<=phone', 'landscape') {
        & + .c-post-info__date {
            margin-left: $size_gutter;
        }
    }
}

.c-post-info {
    @include media('<=phone', 'portrait') {
        flex-wrap: wrap;
        &__author,
        &__info {
            width: 100%;
        }
        &__author {
            & + .c-post-info__date {
                margin-left: 0;
            }
        }
    }
}
