/* ==========================================================================
   Post
   ========================================================================== */
.c-post {
    p + p {
        margin-top: $size_gutter;
    }

    &--alt {
        .c-post__header__heading__link {
            &:hover {
                color: $color_light_gray;
            }
        }
    }
    &__categories {
        & + .c-post__header {
            margin-top: $size_gutter;
        }
    }
    &__header {
        &__heading {
            &__link {
                @include helper--transition;

                display: block;
                &:hover {
                    color: $color_purple;
                }
            }
            & + .c-post__header__desc {
                margin-top: $size_gutter*1.5;
            }
        }
        & + .c-post__content {
            margin-top: $size_gutter*3;
        }
    }
    &__content {
        &__title {
            & + .c-post__content__article {
                margin-top: $size_gutter;
            }
        }
        &__article {
            & + .c-read-more {
                margin-top: $size_gutter*5;
            }
        }
    }

    &__footer {
        display: flex;
        flex-wrap: nowrap;

        .c-post__profile-avatar {
            padding-right: $size_gutter;
            img {
                border-radius: $avatar_size;
            }
        }

        .c-post__profile-content {
            p {
                margin-top: 0;
            }
        }
    }
}



.c-post {
    @include media('<=tablet') {
        padding-bottom: $post_padding_bottom_tablet;
        &__content {
            &__article {
                & + .c-read-more {
                    margin-top: $size_gutter*3;
                }
            }
        }
        &:after {
            margin-top: $decor_big_space_tablet;
        }

        &__footer {
            flex-wrap: wrap;
        }
    }
}

.c-post {
    @include media('<=phone') {
        padding-bottom: 0;
        &__header {
            & + .c-post__content {
                margin-top: $size_gutter*2;
            }
            &__heading {
                padding-right: $social_share_wrapper;
                .u-hide {
                    display: none;
                }
            }
        }
        &__content {
            &__article {
                & + .c-read-more {
                    margin-top: $size_gutter*2;
                }
            }
        }

        &__footer {
            flex-wrap: wrap;
        }
    }
}


.c-related-post__title {
    & + .c-related-post__content {
        margin-top: $size_gutter*2.5;
    }
}
