/* ==========================================================================
   Reply list
   ========================================================================== */

.c-reply-list {
    margin-left: $size_gutter*2.5;
    padding-left: 0;

    list-style: none;
    &__item {
        &:not(:last-child) {
            margin-bottom: $size_gutter*2;
            padding-bottom: $size_gutter*2;

            border-bottom: 1px solid $color_light_gray;
        }
    }
}

.c-reply-list {
    @include media('<=phone') {
        margin-left: $size_gutter*1.5;
    }
}
