/* ==========================================================================
   Sidebar widget
   ========================================================================== */
.c-sidebar-widget {
    margin-top: 40px;

    .calendar_wrap {
        color: white;
    }

    td {
        a {
            color: #b3b3b3;
            text-decoration: none;
        }
    }

    ul {
        li {
            a {
                text-decoration: none;
                color: #b3b3b3;
            }
        }
    }

    li.recentcomments {
        color: white;
    }

    .search-form {
        label {
            color: white;
        }

        .search-field {
            width: 100%;
            border: 1px solid #dedede;
            padding: 10px;
            border-radius: 5px;
        }

        .search-submit {
            margin-top: 10px;
            padding: 5px 10px;
            background-color: #b3b3b3;
            border: none;
            text-align: center;
        }
    }
}