/* ==========================================================================
   Cms
   ========================================================================== */

.c-cms {
    &__inner > :first-child {
        margin-top: 0;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: $size_gutter*2;
        margin-bottom: $size_gutter;

        font-weight: $weight_medium;

        color: $color_default;
    }
    h1 {
        line-height: 1.1;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.2;
    }
    h1 {
        font-size: 3.75rem;
    }
    h2 {
        font-size: 3.0625rem;
    }
    h3 {
        font-size: 2.75rem;
    }
    h4 {
        font-size: 2.375rem;
    }
    h5 {
        font-size: 1.875rem;
    }
    h6 {
        font-size: 1.5rem;
    }
    p {
        margin-bottom: 2rem;

        font-size: 1em;
        line-height: 1.7;

        letter-spacing: .1px;
        > img,
        :not(.wp-caption) > img.size-full {
            margin-top: .5rem;
            margin-bottom: 3rem;
        }
    }
    strong {
        font-weight: $weight_bold;
    }
    .twocolumn {
        .half-width {
            display: inline-block;

            width: $two_column_half_width;

            font-size: initial;

            vertical-align: top;
            &:nth-child(odd) {
                padding-right: $size_gutter;
            }
            &:nth-child(even) {
                padding-left: $size_gutter;
            }
        }
    }
    .emphasis {
        font-size: 1.75rem;
        line-height: 1.28;

        color: $color_purple;
    }
    .dropcap {
        position: relative;
        &:before {
            position: absolute;
            z-index: -1;
            top: -1.5rem;
            left: 0;

            padding: .3rem .7rem;

            font-size: 5rem;
            font-weight: $weight_regular;
            line-height: 1em;

            content: attr(data-dropcap);
            transform: translateX(-44%);

            color: $color_white;
            background-color: rgba(80,80,80,.08);
        }
    }
    blockquote {
        max-width: $blockquote_width;
        margin: 2rem auto 3rem;

        font-weight: $weight_medium;

        text-align: center;
        > p {
            font-size: 1.625rem;
            font-weight: $weight_medium;
            line-height: 1.23;
            font-family: 'Times New Roman', serif;
        }
        &:before {
            font-family: serif;
            font-size: 4rem;
            font-weight: normal;
            line-height: 1;

            content: '\201D'; // right double quotation mark
            text-align: center;
            text-transform: none;

            color: $color_purple;

            speak: none;
        }
        cite {
            font-size: .9375rem;
            font-weight: $weight_medium;
            font-style: normal;
            line-height: 1.69em;
            > p {
                line-height: 1.69em;
            }
        }
        &.pull-left,
        &.pull-right {
            position: relative;

            max-width: $blockquote_onside_width;
            padding-bottom: $size_gutter*.75;

            border-bottom: 2px solid $color_purple;
            > p {
                margin: 0;
                padding: 0;
                line-height: 1.28;
            }
            &:before {
                display: none;
            }
        }
        &.pull-left {
            float: left;

            margin: 0 2rem 1rem -50px;

            text-align: left;
        }
        &.pull-right {
            float: right;

            margin: 0 -50px 1rem 2rem;

            text-align: right;
        }
    }
    img {
        max-width: 100%;
        height: auto;
        &.alignleft,
        &.alignright {
            max-width: 50%;
        }
        &[class*='wp-image-'] {
            display: block;

            margin-right: auto;
            margin-left: auto;
        }
    }
    .alignleft,
    .alignright {
        display: inline;
    }
    .alignleft {
        float: left;

        margin-right: 3em;
        margin-left: -$size_gutter*2.5;
    }
    .alignright {
        float: right;

        margin-right: -$size_gutter*2.5;
        margin-left: 3em;
    }
    figure.wp-caption {
        img {
            margin-bottom: .5rem;
            &[class*='wp-image-'] {
                display: block;

                margin-right: auto;
                margin-left: auto;
            }
        }
        .wp-caption-text {
            margin: .8075em 0;

            font-size: .8125rem;

            text-align: center;

            color: $color_semi_gray;
        }
        &.aligncenter {
            width: calc(100% - #{$full_size_centered_pic_space}*2);
            margin-right: $full_size_centered_pic_space;
            margin-left: $full_size_centered_pic_space;
        }
    }
    table {
        width: 100%;
        margin: 0 0 1.5em;

        border-spacing: 0;
        border-collapse: collapse;

        border: 2px solid $color_black;
        thead {
            th {
                font-weight: $weight_medium;
            }
            tr {
                border-bottom: 2px solid $color_black;
            }
        }
        tbody th {
            font-weight: $weight_medium;

            opacity: .5;
            a {
                color: $color_semi_gray;
            }
        }
        td,
        th {
            padding: 16px 18px;

            text-align: left;

            border-right: 1px solid $color_black;
        }
    }
    ol,
    ul {
        line-height: normal;

        color: $color_semi_gray;
        &:not([class]) li + li {
            margin-top: .5em;
        }
        li {
            margin: .5em;

            color: $color_semi_gray;
        }
    }
    pre {
        margin: 1em 0;
        padding: 1em;

        font-size: 1em;

        word-wrap: normal;
        overflow: auto;

        color: $color_black;
        border: 2px solid rgba(0,0,0,.2);
        border-radius: 2px;
        background: none;
    }
}

.c-cms {
    @include media('<=tablet') {
        figure.wp-caption {
            &.aligncenter {
                width: 100%;
                max-width: 100%;
                margin-right: 0;
                margin-left: 0;
            }
        }
        blockquote {
            &.pull-left {
                margin: 0 2rem 1rem 0;
            }
            &.pull-right {
                margin: 0 0 1rem 2rem;
            }
        }
        img {
            &.alignleft,
            &.alignright {
                max-width: 40vw;
            }
            &.alignleft {
                margin-right: 2em;
                margin-left: 0;
            }
            &.alignright {
                margin-right: 0;
                margin-left: 2em;
            }
        }
        p {
            > img,
            :not(.wp-caption) > img.size-full {
                margin-bottom: 1.1rem;
            }
        }
    }
}

.c-cms {
    @include media('<=phone') {
        h1 {
            font-size: 34px;
        }
        h2 {
            font-size: 1.7em;
        }
        h3 {
            font-size: 1.6rem;
        }
        h4 {
            font-size: 1.5rem;
        }
        h5 {
            font-size: 1.25rem;
        }
        h6 {
            font-size: 1rem;
        }
        .twocolumn {
            .half-width {
                display: block;

                width: 100%;
                &:nth-child(odd),
                &:nth-child(even) {
                    padding: 0;
                }
            }
        }
        .emphasis {
            font-size: 24px;
        }
        .dropcap {
            &:before {
                display: none;
            }
        }
        blockquote {
            p {
                font-size: 20px;
            }
            &:before {
                font-size: 3rem;
            }
            cite {
                font-size: 14px;
                line-height: 1.2;
            }
            &.pull-left,
            &.pull-right {
                display: block;

                width: 100%;
                padding-bottom: $size_gutter/2;
            }
            &.pull-right {
                margin: 0 0 1rem 2rem;
            }
            &.pull-left {
                margin: 0 2rem 1rem 0;
            }
            &.pull-right > p {
                margin-left: 15%;
            }
            &.pull-left > p {
                margin-right: 15%;
            }
        }
        figure.wp-caption {
            &.aligncenter {
                margin: 1rem auto 2rem;
            }
        }
        table {
            font-size: 14px;
            td,
            th {
                padding: $size_gutter/2 $size_gutter/4;

                text-align: center;
            }
        }
    }
}


.c-cms {
    @include media('<=phone', 'landscape') {
        blockquote {
            > p {
                font-size: 1.625rem;
            }
            &.pull-right {
                margin: 0 0 1rem 2rem;
            }
            &.pull-left {
                margin: 0 2rem 1rem 0;
            }
        }
    }
}


.c-cms {
    @include media('<=phone-custom') {
        img.alignleft,
        img.alignright,
        :not(.wp-caption) > img.size-full {
            display: block;
            float: none;

            max-width: 100%;
            margin: 1rem auto 2rem;
        }
        blockquote {
            &.pull-right,
            &.pull-left {
                max-width: 100%;
                margin: 0 0 1.5rem;
            }
        }
    }
}
