/* ==========================================================================
   Decors
   ========================================================================== */

.d-decor-parent {
    position: relative;
    &--with-big-gutter {
        margin-top: $decor_big_space;
        margin-bottom: $decor_big_space;
    }
    &--with-small-gutter {
        margin-top: $decor_small_space;
        margin-bottom: $decor_small_space;
    }
    &--with-large-gutter {
        margin-top: $decor_large_space;
        margin-bottom: $decor_large_space;
    }
}


.d-decor-parent {
    @include media('<=tablet') {
        &--with-big-gutter {
            margin-top: $decor_big_space_tablet;
            margin-bottom: $decor_big_space_tablet;
        }
        &--with-small-gutter {
            margin-top: $decor_small_space_tablet;
            margin-bottom: $decor_small_space_tablet;
        }
        &--with-large-gutter {
            margin-top: $decor_large_space_tablet;
            margin-bottom: $decor_large_space_tablet;
        }
    }
}

.d-decor-parent {
    @include media('<=phone') {
        &--with-big-gutter {
            margin-top: $decor_big_space_phone;
            margin-bottom: $decor_big_space_phone;
        }
        &--with-small-gutter {
            margin-top: $decor_small_space_phone;
            margin-bottom: $decor_small_space_phone;
        }
        &--with-large-gutter {
            margin-top: $decor_large_space_phone;
            margin-bottom: $decor_large_space_phone;
        }
    }
}

.d-decor {
    width: $decor_width;
    height: $decor_height;

    background: $color_light_gray;
}
