/* ==========================================================================
   Utilities sets
   ========================================================================== */
// .s-cta {
//     // styles form elements which looks like buttons
// }

.s-cta-1,
.s-cta-2 {
    @include helper--transition;

    display: inline-flex;

    cursor: pointer;

    border: 2px solid transparent;
    border-radius: 4px;

    align-content: center;
    align-items: center;
}

.s-cta-1 {
    height: $size_btn;
    padding: 0 $size_gutter;
}
.s-cta-1:hover {
    color: $color_purple;
    border-color: $color_border;
    background: $color_white;
}

.s-cta-2 {
    padding: $size_gutter/10 $size_gutter*.75;
}

.s-cta-2:hover {
    color: $color_semi_gray;
}
