@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700i&subset=latin-ext");

/* font family */
.theme-font-1,
.c-cms p,
.c-cms table,
.c-cms ul,
.c-cms li {
  font-family: "Roboto", sans-serif;
}
.theme-font-2,
.c-cms h1,
.c-cms h2,
.c-cms h3,
.c-cms h4,
.c-cms h5,
.c-cms h6 {
  font-family: "Roboto", sans-serif;
}

/* font color */
.theme-color-1 {
  color: #000; /* black */
}
.theme-color-2 {
  color: #fff; /* white */
}
.theme-color-3 {
  color: #2e3192; /* purple */
}
.theme-color-4 {
  color: #b3b3b3; /* gray */
}
.theme-color-5 {
  color: #dedede; /* light gray */
}
.theme-color-6 {
  color: #565656; /* semi gray */
}
.theme-color-7 {
  color: #1f1f1f; /* dark gray */
}

/* font size */
.theme-size-1 {
  font-size: 12px;
}
.theme-size-2 {
  font-size: 15px;
}
.theme-size-3 {
  font-size: 16px;
}
.theme-size-4 {
  font-size: 18px;
}
.theme-size-5 {
  font-size: 24px;
}
.theme-size-6 {
  font-size: 25px;
}
.theme-size-7 {
  font-size: 30px;
}
.theme-size-8 {
  font-size: 36px;
}
.theme-size-9 {
  font-size: 50px;
}
.theme-size-10 {
  font-size: 60px;
}

/* font style */
.theme-style-1 {
  font-style: normal;
}
.theme-style-2 {
  font-style: italic;
}

/* font weight */
.theme-weight-1 {
  font-weight: 400; /* regular */
}
.theme-weight-2 {
  font-weight: 500; /* medium */
}
.theme-weight-3 {
  font-weight: 700; /* bold */
}

/* line height */
.theme-l-height-1 {
  line-height: 1;
}
.theme-l-height-2 {
  line-height: 1.2;
}
.theme-l-height-3 {
  line-height: 1.6;
}
.theme-l-height-4 {
  line-height: 1.7;
}

/* background */
.theme-bg-1 {
  background-color: #000; /* black */
}
.theme-bg-2 {
  background-color: #fff; /* white */
}
.theme-bg-3 {
  background-color: #2e3192; /* purple */
}
.theme-bg-4 {
  background-color: #b3b3b3; /* gray */
}
.theme-bg-5 {
  background-color: #dedede; /* light gray */
}
.theme-bg-6 {
  background-color: #565656; /* semi gray */
}
.theme-bg-7 {
  background-color: #1f1f1f; /* dark gray */
}

/* opacity */
.opacity-1 {
  opacity: 0.7;
}

/* tablet breakpoint */
@media (max-width: 1024px) {
  .theme-size-8 {
    font-size: 32px;
  }
  .theme-size-9 {
    font-size: 42px;
  }
}

/* phone breakpoint */
@media (max-width: 767px) {
  .theme-size-2 {
    font-size: 14px;
  }
  .theme-size-8 {
    font-size: 26px;
  }
  .theme-size-9 {
    font-size: 32px;
  }
  .theme-size-10 {
    font-size: 46px;
  }
}

/* phone small breakpoint */
@media (max-width: 320px) {
  .theme-size-4 {
    font-size: 16px;
  }
}
