/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors
========================================================================== */
$color_black:                         #000;
$color_white:                         #fff;
$color_purple:                        #2e3192;
$color_gray:                          #b3b3b3;
$color_red:                           #FF0000;
$color_green:                         #00FF00;
$color_light_gray:                    lighten($color_gray,17%);     // #dedede
$color_semi_gray:                     darken($color_gray,36.5%);    // #565656
$color_dark_gray:                     darken($color_gray,58%);      // #1f1f1f instead of #1c1d1e

$color_facebook:                      #3b5898;
$color_twitter:                       #55acee;
$color_snapchat:                      #FFFC00;
$color_pinterest:                     #c8232c;
$color_instagram:                     #3f729b;

$color_header_shadow:                 rgba(0, 0, 0, .4);
$color_socials_background:            rgba(44, 44, 44, .8);
$color_border:                        rgba(46, 49, 146, 0.7);

$color_default:                       $color_black;
$color_default_link:                  $color_purple;

$color_1:                             $color_black;
$color_2:                             $color_white;
$color_3:                             $color_purple;
$color_4:                             $color_gray;
$color_5:                             $color_light_gray;
$color_6:                             $color_semi_gray;
$color_7:                             $color_dark_gray;

$colors:
    $color_1,
    $color_2,
    $color_3,
    $color_4,
    $color_5,
    $color_6,
    $color_7;


/* Indexes
========================================================================== */
$index_header:                         100;
$index_header_inner:                   3;
$index_header_after:                   -1;
$index_search:                         1;
$index_socials:                        1;


/* Sizes
========================================================================== */
$size_inner:                           1140px;
$size_gutter:                          20px;
$size_btn:                             48px;
$size_default_icon:                    1em;
$size_scalable-padding_16-9:           56%;
$size_scalable-padding_4-3:            75%;


$logo_height:                          200px;

$logo_main_width:                      155px;
$logo_main_height:                     19px;

$menu_toggler_size:                    64px;
$menu_toggler_size_small:              54px;
$menu_toggler_wrap_size:               16px;
$menu_stick_width:                     16px;
$menu_stick_height:                    2px;
$menu_short_stick_width:               8px;
$menu_short_stick_half_width:          $menu_short_stick_width/2;
$menu_sticks_space:                    6px;
$menu_active_width:                    425px;
$menu_active_width_phone:              100vw;
$menu_active_height:                   100vh;
$menu_toggler_border_width:            2px;

$main_padding_top:                     310px;
$main_padding_top_tablet:              250px;
$main_padding_top_phone:               150px;

$category_space:                       12px;

$decor_width:                          100%;
$decor_height:                         1px;
$decor_large_space:                    140px;
$decor_large_space_tablet:             80px;
$decor_large_space_phone:              40px;
$decor_big_space:                      110px;
$decor_big_space_tablet:               60px;
$decor_big_space_phone:                40px;
$decor_small_space:                    60px;
$decor_small_space_tablet:             50px;
$decor_small_space_phone:              40px;

$main_footer_space:                    110px;
$main_footer_space_tablet:             60px;
$main_footer_space_phone:              40px;

$social_share_icon_size:               18px;
$social_share_icon_alt_size:           16px;

$social_share_wrapper:                 50px;
$social_share_alt_wrapper:             40px;
$social_share_icon_space:               8px;
$social_share_space_right:             55px;
$social_share_space_right_tablet:      25px;

$search_input_width:                   100%;
$search_space_top:                     $size_gutter*2;
$search_close_size:                    64px;
$search_close_size_small:              54px;
$search_toggler_size:                  60px;
$search_toggler_size_small:            54px;

$popup_newsletter_width:               432px;
$popup_newsletter_width_mobile:        calc(100% - 20px);

$newsletter_input_height:              50px;
$newsletter_btn_height:                50px;
$border_radius:                        4px;

$post_padding_bottom_tablet:           20px;

$two_column_half_width:                49%;
$blockquote_width:                     600px;
$blockquote_onside_width:              320px;

$full_size_centered_pic_space:         -25px;

$main_nav_space:                       7.5px;

$avatar_size:                          80px;

/* Fonts
========================================================================== */
$font_default:                         'Roboto', sans-serif;
$font_ico:                             'fontello';

$font_xs:                              12px;
$font_2xs:                             15px;
$font_3xs:                             16px;
$font_s:                               18px;
$font_m:                               24px;
$font_2m:                              25px;
$font_l:                               30px;
$font_2l:                              36px;
$font_xl:                              50px;
$font_2xl:                             60px;

$font_2l_tablet:                       32px;
$font_xl_tablet:                       42px;

$font_2xs_phone:                       14px;
$font_s_phone:                         16px;
$font_2l_phone:                        26px;
$font_xl_phone:                        32px;
$font_2xl_phone:                       46px;

$weight_regular:                       400;
$weight_medium:                        500;
$weight_bold:                          700;

/* Breakpoints
========================================================================== */

// breakpoints names used for include-media breakpoint and for gridle
$breakpoint_desktop-small:        'desktop-small';
$breakpoint_tablet:               'tablet';
$breakpoint_phone:                'phone';
$breakpoint_phone-custom:         'phone-custom';
$breakpoint_phone-small:          'phone-small';

// breakpoints values used for include media and for grid gridle
$size_desktop-small:              $size_inner + $size_gutter*4;
$size_tablet:                     1024px;
$size_phone:                      767px;
$size_phone-custom:               551px;
$size_phone-small:                320px;

// breakpoints names array - used to generate custom attributes with include-media rwd
$breakpoints_array:
    $breakpoint_desktop-small,
    $breakpoint_tablet,
    $breakpoint_phone,
    $breakpoint_phone-custom,
    $breakpoint_phone-small;

// breakpoints values array - used to generate custom attributes with include-media rwd and for include-media itself
$breakpoints: (
    $breakpoint_desktop-small:                $size_desktop-small,
    $breakpoint_tablet:                       $size_tablet,
    $breakpoint_phone:                        $size_phone,
    $breakpoint_phone-custom:                 $size_phone-custom,
    $breakpoint_phone-small:                  $size_phone-small
);

$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default;

// breakpoint exaples
// body {
//     @include media('<=desktop-small') {
//         background: pink;
//     }
//     @include media('<=tablet') {
//         background: red;
//     }
//     @include media('<=phone') {
//         background: yellow;
//     }
//     @include media('>phone', '<=desktop-small') {
//         border: 5px solid grey;
//     }
//     @include media('>tablet', '<=1100px') {
//         color: red;
//     }
//     @include media('<=phone', 'landscape') {
//         background: orange;
//     }
// }
