// TODO

.c-chart-wrapper {
    margin: 2rem 0;
    padding-top: 16px;
    padding-bottom: 16px;
}

.c-chart__content {
    width: 100%;
    max-width: 560px;
    padding-right: 16px;
}

.c-chart__title {
    color: #37657F;
    line-height: 1.2;
    font-weight: $weight_bold;
    padding-bottom: 16px;
}

.c-chart__desc {
    margin: 0;
    color: #585858;
    font-weight: $weight_bold;
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 16px;
}

.c-chart__source {
    font-size: 14px;
    line-height: 1.4;
    color: #585858;
    opacity: .8;
}

.c-chart__source-link {
    font-size: 14px;
    line-height: 1.4;
    color: #37657F;
}

.c-chart__source-link:hover {
    text-decoration: underline;
}

.c-chart-graph-wrapper {
    position: relative;
    display: block;
    height: 300px;
    width: 100%;
    max-height: 300px;
}

.c-chart-graph-wrapper-small {
    height: 170px;
    max-height: 170px;
}

.c-chart-graph-wrapper-large {
    height: 450px;
    max-height: 450px;
}