.c-decor-image-wrapper {
    width: 100%;
}

@include media('<phone') {
    .c-decor-image-wrapper {
        width: 80%;
    }
}

@include media('<desktop-large') {
    .c-decor-image {
        margin: 0 0 32px;
        max-width: 30%;
    }
}

@include media('<phone') {
    .c-decor-image {
        margin: 0 0 8px;
        max-width: 100%;
    }
}

@include media('>=desktop-large') {
    .c-decor-image-wrapper {
        height: 0;
        margin-left: auto;
        position: relative;
    }
    .c-decor-image {
        height: auto;
        max-width: 410px;
        position: absolute;
        left: -16px;
        transform: translate(-100%, -15%);
    }

    .c-decor-image--right {
        left: auto;
        max-width: 230px;
        right: -16px;
        transform: translate(100%, -15%);
        max-width: 330px;
    }
}
