// TEMPORARY SCSS FOR HERO

.c-hero-wrapper {
    width: 100%;
    border-bottom: 1px solid #f1f1f1;
}

.c-hero {
    position: relative;

    display: flex;

    width: 100%;
}

@include media('>=1280px', '<1440px') {
    .c-hero .c-hero__inner {
        width: 100%;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}

.c-hero__content {
    position: relative;
    z-index: 1;

    max-width: 360px;
}

.c-hero__title {
    margin: 0;

    font-size: 32px;
    font-weight: $weight_bold;
    line-height: 1.2;

    color: $color_red;

    & > strong {
        color: $color_blue_dark;
    }
}

@include media('>=phone-custom') {
    .c-hero__title {
        font-size: 46px;
    }
}

@include media('>=tablet') {
    .c-hero {
        height: 100vh;
        max-height: 560px;
        align-items: center;
    }
}

.c-hero__desc {
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;

    color: $color_blue_dark;
}

@include media('>=phone-custom') {
    .c-hero__desc {
        font-size: 22px;
    }
}

.c-hero__title + .c-hero__desc {
    margin-top: 48px;
}

@include media('<tablet') {
    .c-hero {
        display: flex;
        flex-direction: column;
    }

    .c-hero__overlay {
        position: relative;

        display: flex;

        width: 100%;
        padding-top: calc(1/2 * 100%);
    }

    .c-hero__overlay__img,
    .c-hero__overlay__media {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .c-hero__overlay__img {
        background-repeat: no-repeat;
        background-position: 100% 50%;
        background-size: contain;
    }
}

@include media('>=tablet') {
    .c-hero__overlay {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .c-hero__overlay__media {
        position: absolute;
        top: 0;
        left: 50%;

        width: 100%;
        height: 100%;

        transform: translateX(-50%);
    }

    .c-hero__overlay__img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-repeat: no-repeat;
        background-position: 100% 100%;
        background-size: contain;
    }
}

@include media('>1280px', '<=desktop') {
    .c-hero {
        max-height: 670px;
    }
}

@include media('>1240px', '<=1280px') {
    .c-hero {
        max-height: 590px;
    }
}

@include media('>desktop') {
    .c-hero {
        max-height: 900px;
    }
}

@include media('>desktop') {
    .c-hero {
        max-height: 700px;
    }
}

@include media('>desktop-large') {
    .c-hero {
        max-height: 780px;
    }
}

@include media('>=tablet') {
    .c-hero {
        max-height: 420px;
    }
}

@include media('<tablet') {
    .c-hero {
        padding-top: 32px;
    }
}

@include media('>tablet', '<=1680px') {
    #wykres {
        display: none !important;
    }
}


