@function animDuration($duration) {
    $duration_ratio: 1; // Define loop animation
    @return $duration_ratio * $duration + s;
}

.c-hero-animation {
    max-width: 100% !important;
    margin: 0;
    margin-left: auto;
    height: 100%;
    max-height: 100%;
}

.c-hero-animation > svg {
    display: block;
    height: 100%;
    width: auto;
    margin-left: auto;
}

@include media('<tablet') {
    .c-hero__overlay {
        padding-top: calc(1080/1920 * 100%);
    }
    .c-hero-animation svg {
        width: 100%;
        height: auto;
    }
}

// Animations
.c-hero-animation {
    #galazka,
    #listki,
    #glowa,
    #krawat,
    #eye2,
    #eye-1,
    #luneta,
    #hand-down,
    #diament,
    #foldery,
    #Kształt_22 {
        transform-box: fill-box;
    }

    #glowa {
        @keyframes glowa_rotate {
            100% { transform: rotate(0); }
            80% { transform: rotate(-6deg); }
            20% { transform: rotate(-6deg); }
            0% { transform: rotate(0); }
        }
        transform-origin: 70% 70%;
        animation: glowa_rotate 4s infinite 6s;
    }

    #krawat {
        @keyframes krawat_rotate {
            100% { transform: rotate(0); }
            80% { transform: rotate(-3deg); }
            70% { transform: rotate(-2deg); }
            60% { transform: rotate(-4deg); }
            20% { transform: rotate(-3deg); }
            0% { transform: rotate(0); }
        }
        transform-origin: 100% 31%;
        animation: krawat_rotate 4s infinite ease;
    }

    #Kształt_22 {
        // brew
        @keyframes anim_brew {
            100% { transform: translateY(0); }
            80% { transform: translateY(60%); }
            20% { transform: translateY(60%); }
            0% { transform: translateY(0); }
        }
        transform-origin: 50% 50%;
        animation: anim_brew 4s infinite 6s;
    }

    #eye2 {
        @keyframes eye_zoom_2 {
            100% { transform: scale(0); }
            80% { transform: scale(1); }
            20% { transform: scale(1); }
            0% { transform: scale(0); }
        }
        transform-origin: 33% 50%;
        animation: eye_zoom_2 4s infinite 6s;
    }

    #eye-1 {
        @keyframes eye_zoom_1 {
            100% { transform: scale(0) translateX(0%); }
            80% { transform: scale(1) translateX(0%); }
            60% { transform: scale(1) translateX(50%); }
            50% { transform: scale(1) translateX(0%); }
            40% { transform: scale(1) translateX(50%); }
            20% { transform: scale(1) translateX(0%); }
            0% { transform: scale(0) translateX(0%); }
        }
        transform-origin: 50% 50%;
        animation: eye_zoom_1 4s infinite 6s;
    }

    #luneta {
        @keyframes luneta {
            100% { transform: rotate(-6deg); }
            80% { transform: rotate(0); }
            20% { transform: rotate(0); }
            0% { transform: rotate(-6deg); }
        }
        transform-origin: 68% 100%;
        animation: luneta 4s infinite 6s;
    }

    #diament {
        @keyframes diament_scale {
            100% { transform: scale(1); }
            60% { transform: scale(0); }
            0% { transform: scale(0); }
        }
        transform-origin: 50% 100%;
        animation: diament_scale 13s linear;
    }

    #listki {
        @keyframes anim_listki {
            100% { transform: scale(1); }
            70% { transform: scale(1); }
            30% { transform: scale(0); }
            0% { transform: scale(0); }
        }
        transform-origin: 50% 100%;
        animation: anim_listki 10s linear;
    }

    #galazka {
        @keyframes anim_galazka {
            100% { transform: scale(1); }
            60% { transform: scale(1); }
            0% { transform: scale(0); }
        }
        transform-origin: 50% 100%;
        animation: anim_galazka 6s linear;
    }

    #hand-down { transition: all linear 0.1s; transition-delay: 0; }
    #moneta-8 { transition: all linear 0.1s; }
    #moneta-7 { transition: all linear 0.2s; }
    #moneta-6 { transition: all linear 0.4s; }
    #moneta-5 { transition: all linear 0.5s; }
    #moneta-4 { transition: all linear 0.65s; }
    #moneta-3 { transition: all linear 0.75s; }
    #moneta-2 { transition: all linear 0.80s; }
    #moneta-1 { transition: all linear 0.85s; }
}

// Useless layers
#linia_mankiet,
#bg-shape-5,
#Kształt_4,
#bg-shape-4,
#Elipsa_11 {
    display: none;
}

@include media('<tablet') {
    #bg-shape3 {
        display: none;
    }
}
