/* ==========================================================================
   Partners
   ========================================================================== */

.c-partners {
    display: flex;
    align-items: flex-end;
}

.c-partners__title {
    font-size: 1.25rem;
    line-height: 1.2;
    color: #37657F;

    @include media('<=tablet') {
        margin-right: 1rem;
    }
    @include media('>tablet') {
        margin-right: 2rem;
    }
}

.c-partners__list {
    display: flex;
    align-items: center;
    @include helper--list;
}

.c-partners__item + .c-partners__item {
    @include media('<=tablet') {
        margin-left: 1rem;
    }
    @include media('>tablet') {
        margin-left: 1rem;
    }
    @include media('>desktop') {
        margin-left: 2rem;
    }
}

.c-partners__img {
    max-height: 36px;
}

.c-hero__title {
    margin-top: 3rem;
}

.c-hero__partners .c-partners-wrapper {
    margin-top: 2rem;
    margin-left: 0;
}

.c-hero__partners .c-partners {
    flex-direction: column;
    align-items: flex-start;
}

.c-hero__partners .c-partners__title {
    margin-bottom: 1rem;
}

@include media('>tablet', '<=1100px') {
    .c-hero__partners .c-partners {
        flex-direction: row;
    }
    .c-hero__partners .c-partners__img {
        max-height: 30px;
    }
}

.l-footer__inner .c-partners-wrapper {
    @include media('<=tablet') {
        margin-left: 1rem;
    }
    @include media('>tablet') {
        margin-left: 2rem;
    }
    @include media('>desktop') {
        margin-left: 6rem;
    }
}
