.c-pdf-download-wrapper {
    width: 100%;

    z-index: 3;
    position: relative;
    background: $color_blue_dark;
}

.c-pdf-download {
    display: flex;

    padding-top: 64px;
    padding-bottom: 64px;

    align-items: center;
    justify-content: center;

    @include media('>=phone') {
        padding-bottom: 80px;
    }
}

.c-pdf-download__inner {
    width: 100%;
    max-width: 804px;

    text-align: center;

    color: #fff;
}


.c-pdf-download__heading,
.c-pdf-download__subheading {
    margin: 0 auto 30px;
    font-weight: $weight_bold;
}

.c-pdf-download__heading {
    font-size: 20px;
    line-height: 1.4;
}

.c-pdf-download__heading strong {
    color: #f33540;
}

.c-pdf-download__subheading {
    font-size: 16px;
    line-height: 1.2;
}

@include media('>=phone') {
    .c-pdf-download__heading,
    .c-pdf-download__subheading {
        margin: 0 auto 40px;
    }
    .c-pdf-download__heading {
        font-size: 24px;
    }
    .c-pdf-download__subheading {
        font-size: 16px;
    }
}

.c-pdf-download__form {
    display: flex;

    width: 100%;
    max-width: 620px;
    margin-right: auto;
    margin-left: auto;
}

.c-pdf-download__field {
    display: flex;

    width: 100%;

    @include media('<phone') {
        flex-direction: column;
        align-items: center;
    }
}

.c-pdf-download__input {
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    padding-right: 16px;
    padding-left: 16px;

    font-size: 16px;

    color: #427795;
    border: 2px solid #dbdbdb;
    border-radius: 0;

    -webkit-appearance: none;
    -moz-appearance: none;
}

@include media('>=phone') {
    .c-pdf-download__input {
        width: calc(100% - 168px - 16px);
    }
}

.c-pdf-download__btn {
    display: flex;
    cursor: pointer;

    box-sizing: border-box;
    width: 168px;
    height: 52px;
    margin-left: 16px;

    font-size: 18px;
    font-weight: $weight_medium;

    color: #fff;
    border: none;
    background-color: $color_red;

    align-items: center;
    justify-content: center;
    transition: all ease .18s;

    @include media('<phone') {
        margin: 16px auto 0;
        width: 100%;
    }
}

.c-pdf-download__btn:hover {
    opacity: .9;
}

.c-pdf-download__policy {
    width: 100%;
    max-width: 700px;
    margin: 24px auto 0;

    font-size: 11px;
    line-height: 1.1;
}

.c-pdf-download__policy a {
    color: $color_red;
}
