.c-block-decorated-wrapper {
    position: relative;

    width: 100%;

    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #f5f5f5;
}

@include media('>=desktop') {
    .c-block-decorated-wrapper {
        width: calc(100% + 20px);
        margin-left: -40px;
    }
}

.c-block-decorated-wrapper:before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 4px;
    height: 100%;

    content: '';

    background-color: #f33540;
}

.c-block-decorated {
    padding: 0 40px;
}

@include media('>desktop') {
    .c-block-decorated {
        padding: 0 40px;
    }
}

.c-podium-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}

.c-podium {
    width: 100%;
}

.c-podium__inner {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.c-podium__heading {
    margin: 0;
    font-size: 16px;
    font-weight: $weight_bold;
    line-height: 1.2;
    color: $color_red;
}

.ui-cms-custom-blog .c-podium__heading {
    color: $color_red;
}

.c-podium__list {
    display: flex;

    align-items: flex-end;
}

.c-podium__item {
    display: flex;

    width: calc(1/3 * 100%);
    height: 130px;
    padding-top: 64px;

    align-items: flex-end;
}

@include media('<phone') {
    .c-podium__item {
        height: 170px;
    }
}

@include media('>desktop') {
    .c-podium__item {
        padding-top: 50px;
    }
}

.c-podium-place {
    position: relative;
    width: 100%;
}

.c-podium-place__title {
    font-size: 12px;
    font-weight: 600;

    color: #37657f;
    font-size: 14px;

    & > strong {
        color: #144560;
    }
}

@include media('<phone-custom') {
    .c-podium-place__title {
        font-size: 11px;
        text-align: center;
    }
    .c-podium-place {
        padding-left: 2px;
        padding-right: 2px;
    }
}

.c-podium-place__number {
    font-size: 19px;
    font-weight: $weight_bold;
    line-height: 1.5;
}

.c-podium-place__cup-wrapper {
    width: 80px;
}

@include media('>desktop') {
    .c-podium-place__cup-wrapper {
        width: 94px;
    }
}

.c-podium-place__cup-wrapper,
.c-podium-place__number {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 1;
}

.c-podium-place {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    color: #144560;
}

.c-podium-place--1 {
    padding-top: 48px;
    background-color: #DFDFDF;
}

.c-podium-place--2 {
    padding-top: 24px;
    background-color: #E7E7E7;
}

.c-podium-place--3 {
    padding-top: 8px;
    background-color: #E3E3E3;
}


@include media('<desktop') {
    .c-podium-place__title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

// ui-animation-hook

.ui-animation-hook.c-block-decorated-wrapper {
    .c-podium-place {
        padding-top: 8px;
        transition: all ease .8s;
    }
    .c-podium-place__number,
    .c-podium-place__cup-wrapper {
        opacity: 0;
        transition: all ease .6s;
    }
    &.is-active {
        .c-podium-place--1 {
            padding-top: 48px;
        }
        .c-podium-place__number,
        .c-podium-place__cup-wrapper {
            opacity: 1;
            transition-delay: .5s;
        }

        .c-podium-place--2 {
            padding-top: 24px;
        }
    }
}
