// TEMPORARY SCSS FOR TAKEAWAYS

.c-question-heading-wrapper {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 24px;
}

.c-question-heading__inner {
    display: flex;
    align-items: flex-start;
}

@include media('>phone') {
    .c-question-heading__inner {
        align-items: center;
    }
}

@include media('<phone') {
    .c-question-heading__number {
        margin-bottom: 0.25rem;
    }
    .c-question-heading__inner {
        flex-direction: column;
    }
}

.c-question-heading__number,
.c-question-heading__heading {
    font-size: 16px;
    line-height: 120%;
    color: #144560;
    font-weight: $weight_bold;
}

.ui-cms-custom-blog .c-question-heading__heading {
    color: #144560;
}

.c-question-heading__number {
    margin-right: 16px;
    font-size: 44px;
}

@include media('<=phone') {
    .c-question-heading__number {
        line-height: 1;
    }
}

.c-question-heading__heading {
    margin: 0;
    display: flex;
    align-items: center;
}
