// TEMPORARY SCSS FOR TAKEAWAYS

.c-quote-wrapper {
    margin: 32px 0;
    width: 100%;
}

.c-quote__inner {
    display: flex;
}

.c-quote__author {
    display: flex;
    flex-direction: column;

    width: 150px;
}

.c-quote__avatar {
    position: relative;

    width: 44px;
    height: 44px;
}

.c-quote__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 50%;
}

.c-quote__name {
    margin-top: 16px;

    font-size: 16px;
    font-weight: $weight_bold;
    line-height: 1.4;

    color: #333;
}

.c-quote__position {
    font-size: 14px;
    font-weight: $weight_medium;
    line-height: 1.4;
    color: #9e9e9e;
}

.c-quote__company {
    position: relative;

    margin-top: 16px;
    padding-top: 16px;
    padding-bottom: 16px;

    font-weight: $weight_medium;

    color: #585858;
    transition: all ease 0.3s;
}

.c-quote__company:hover {
    color: $color_black;
}

.c-quote__company:before {
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 32px;
    height: 3px;

    content: '';

    background: #9e9e9e;
}

.c-quote__desc {
    position: relative;
}

@include media('>=tablet') {
    .c-quote__desc {
        display: flex;
        flex-direction: column;

        justify-content: center;
    }
}

.c-quote__desc > p {
    margin: 0;

    font-size: 16px;
    font-weight: $weight_medium;
    font-style: italic;
    line-height: 1.5;

    color: #585858;
}

.ui-cms-custom-blog .c-quote__desc > p {
    font-size: 16px;
    line-height: 1.5;
}

.c-quote__desc > p + p {
    margin-top: 16px;
}



@include media('<tablet') {
    .c-quote__inner {
        flex-direction: column;
    }

    .c-quote__desc {
        position: relative;
        margin-bottom: 13px;
        padding-bottom: 19px;
        width: 100%;
        border-bottom: 3px solid $color_red;
    }

    .c-quote__desc:after,
    .c-quote__desc:before {
        position: absolute;
        bottom: 0;
        left: 18px;

        display: block;

        width: 0;
        height: 0;

        content: '';
        transform: translateY(100%);

        border-width: 20px 20px 0 0;
        border-style: solid;
        border-color: $color_red transparent  transparent transparent;
    }

    .c-quote__desc:after {
        left: 21px;
        border-width: 13px 13px 0 0;
        border-color: $color_white transparent  transparent transparent;
    }

    .c-quote__author {
        margin-top: 16px;
    }

    .c-quote__company {
        margin-top: 8px;
        padding-top: 10px;
    }
}


@include media('>=tablet') {
    .c-quote__inner {
        display: flex;
        flex-direction: row-reverse;
    }
    .c-quote__author {
        padding-right: 16px;
    }
    .c-quote__desc {
        // padding-left: 42px;
        // border-left: 3px;
        // margin-left: 30px;
        width: calc(100% - 150px);

        margin-left: 1rem;
        padding-left: 26px;
        border-left: 3px solid $color_red;
    }

    .c-quote__desc:before,
    .c-quote__desc:after {
        position: absolute;
        top: 20px;
        left: 0;

        display: block;

        width: 0;
        height: 0;

        content: '';
        transform: translateX(-100%);

        border-width: 0 20px 20px 0;
        border-style: solid;
        border-color: transparent $color_red transparent transparent;
    }

    .c-quote__desc:after {
        z-index: 1;
        top: 23px;

        border-width: 0 13px 13px 0;
        border-color: transparent $color_white transparent transparent;
    }


    // ALT
    .c-quote--alt {
        .c-quote__inner {
            flex-direction: row;
        }
        .c-quote__author {
            padding-right: 0;
            padding-left: 16px;
        }
        .c-quote__desc {
            margin-right: 1rem;
            padding-right: 26px;
            margin-left: 0;
            padding-left: 0;
            border-left: none;
            border-right: 3px solid $color_red;
        }
        .c-quote__desc:before,
        .c-quote__desc:after {
            right: 0;
            left: auto;
            transform: translateX(100%) scaleX(-1);
        }
    }
}

// ui-animation-hook custom

.c-quote-wrapper.ui-animation-hook {
    .c-quote__desc,
    .c-quote__author {
        opacity: 0;
        transition: all ease 0.8s;
    }
    .c-quote__desc {
        transform: translateX(-8px);
    }
    .c-quote__author {
        transform: translateX(8px);
    }
    &.is-active {
        .c-quote__desc,
        .c-quote__author {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
