.c-share-social-wrapper {
    width: 100%;
    z-index: 2;
    position: relative;
    overflow: hidden;
    background-color: #F4F4F4;
}

.c-share-social {
    width: 100%;
}

.c-share-social__inner {
    display: flex;
    align-items: center;
}

.c-share-social__heading {
    position: relative;

    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;

    font-size: 32px;
    font-weight: $weight_bold;
    line-height: 1.2;

    color: $color_blue_dark;
    background: #e3e3e3;
}


.c-share-social__heading:before,
.c-share-social__heading:after {
    position: absolute;

    content: '';
}


@include media('>=tablet') {
    .c-share-social__heading:after {
        bottom: 0;
        right: 0;
    }
}

.c-share-social__list {
    @include helper--list;
    display: flex;
}

.c-share-social__item {
    width: auto;
}

.c-share-social__item + .c-share-social__item {
    margin-left: 32px;
}

.c-share-social__item__link {
    display: flex;

    width: 32px;
    height: 32px;

    transition: all ease .18s;

    border: 2px solid #96adba;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
}

.c-share-social__item__link .o-icon {
    font-size: 16px;

    transition: all ease .18s;

    color: #144560;
}

.c-share-social__item__link:hover {
    background-color: #96ADBA;
}

.c-share-social__item__link:hover .o-icon {
    color: #fff;
}

@include media('<tablet') {
    .c-share-social__inner {
        flex-direction: column;
    }

    .c-share-social__heading {
        width: calc(100% + 40px);
        margin: 0 -20px 30px;
        padding: 32px 20px 10px;

        font-size: 26px;
        line-height: 1.2;

        text-align: center;
    }

    .c-share-social__heading:after {
        top: 100%;
        right: 0;

        width: 0;
        height: 0;

        border-top: 30px solid #e3e3e3;
        border-right: 50vw solid transparent;
    }

    .c-share-social__heading:before {
        top: 100%;
        left: 0;

        width: 0;
        height: 0;

        border-top: 30px solid #e3e3e3;
        border-left: 50vw solid transparent;
    }

    .c-share-social__list {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

@include media('>=tablet') {
    .c-share-social__list {
        margin-left: 50px;
    }

    .c-share-social__heading {
        padding-right: 64px;
        margin-right: 50px;
    }

    .c-share-social__heading:before {
        position: absolute;
        top: 0;
        right: 100%;

        display: block;

        width: 200vw;
        height: 100%;

        content: '';

        background: #e3e3e3;
    }

    .c-share-social__heading:after {
        top: 0;
        right: 0;
        transform: translateX(100%);

        border-top: 69px solid transparent;
        border-bottom: 69px solid transparent;
        border-left: 50px solid #e3e3e3;
    }
}

@include media('>=desktop') {
    .c-share-social__heading {
        padding-right: 140px;
    }
}
