// l-main {}


.l-container {
    margin: 0 auto;
    width: 100%;
}

.l-container--custom-blog-post {
    position: relative;
}

.c-takeaways__inner.l-inner {
    @include media('>=tablet') {
        padding-right: 270px;
    }
}

.l-sec--custom-blog-post + .l-sec--custom-blog-post {
    border-top: 1px solid #f1f1f1;
}

.l-sec--custom-blog-post .l-inner {
    @include media('<tablet') {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    @include media('>1680px') {
        padding-top: 64px;
        padding-bottom: 64px;
        padding-right: 270px;
    }
}

@include media('>=tablet', '<=1680px') {
    .l-sec--custom-blog-post .l-inner {
        padding-top: 64px;
        padding-bottom: 64px;
    }
}

@include media('>=1440px', '<=1680px') {
    .l-sec--custom-blog-post .l-inner {
        width: calc(100% - #{$size-sticky-sidebar-width-desktop} - 128px);
    }
}

@include media('>=1280px', '<1440px') {
    .l-sec--custom-blog-post .l-inner {
        margin-left: 2rem;
        width: calc(100% - 4rem - #{$size-sticky-sidebar-width});
    }
}

@include media('>=tablet', '<1280px') {
    .l-sec--custom-blog-post .l-inner {
        margin-left: 1rem;
        width: calc(100% - 3rem - #{$size-sticky-sidebar-width});
    }
}

.l-container--custom-blog-post + .l-footer {
    padding-top: 0;
    margin-top: 0;
    position: relative;
    background: white;
}

@include media('>=tablet') {
    .c-sticky-navigation-wrapper {
        position: absolute;
        top: 0;
        right: 0;

        overflow: hidden;

        width: $size-sticky-sidebar-width;
        height: 100vh;
        padding-top: 64px;
    }


    .c-sticky-navigation__list {
        @include helper--list;
    }

    .c-sticky-navigation__item {

    }

    .c-sticky-navigation__item + .c-sticky-navigation__item {
        padding-top: 16px;
    }

    .c-sticky-navigation__link {
        display: flex;
        align-items: center;
        color: #52819A;
    }

    .c-sticky-navigation__index {
        position: relative;
        z-index: 2;

        display: flex;

        width: 32px;
        height: 32px;

        font-size: 14px;
        font-weight: $weight_medium;

        transition: all ease .2s;

        border-radius: 50%;
        background-color: #e1e1e1;

        align-items: center;
        justify-content: center;
    }


    .c-sticky-navigation__index:before,
    .c-sticky-navigation__index:after {
        position: absolute;
        z-index: 1;
        left: 50%;

        display: block;

        width: 2px;
        height: 100vh;

        content: '';
        transform: translateX(-50%);

        background-color: #e1e1e1;
    }


    .c-sticky-navigation__item:not(:first-child):not(:last-child) {
        overflow: hidden;
        .c-sticky-navigation__index:before {
            display: none;
        }
    }

    .c-sticky-navigation__item:last-child .c-sticky-navigation__index:after {
        display: none;
    }

    .c-sticky-navigation__index:before {
        top: 100%;
    }

    .c-sticky-navigation__index:after {
        bottom: 100%;
    }

    .c-sticky-navigation__title {
        margin-left: 12px;
        transition: all ease 0.2s;
        font-weight: $weight_medium;
    }

    .c-sticky-navigation__link.is-active {
        .c-sticky-navigation__index {
            background-color: $color_red;
            color: $color_white;
        }
        .c-sticky-navigation__title {
            color: $color_red;
        }
    }
}

@include media('>tablet') {
    .c-sticky-navigation__link:hover {
        .c-sticky-navigation__index {
            background-color: $color_red;
            color: $color_white;
        }
        .c-sticky-navigation__title {
            color: $color_red;
        }
    }
}

@include media('<tablet') {
    .c-sticky-navigation-wrapper {
        display: none;
    }
}

@include media('>=desktop') {
    .c-sticky-navigation-wrapper {
        width: $size-sticky-sidebar-width-desktop;
    }
}