// TEMPORARY SCSS FOR TAKEAWAYS

.c-takeaways-wrapper {
    // padding-top: 40px;
    // padding-bottom: 40px;
    position: relative;
    z-index: 3;

    font-weight: $weight_bold;

    color: #fff;
    background-color: #0a2b3d;
}
@include media('>phone') {
    .c-takeaways-wrapper {
        // padding-top: 54px;
        // padding-bottom: 54px;
    }
}

.c-takeaways__heading {
    margin: 0;
    color: $color_red;
}

.c-takeaways__subheading {
    font-size: 14px;
}

.c-takeaways__list {
    @include helper--list;

    display: flex;
    flex-direction: column;
}

.c-takeaways__heading + .c-takeaways__subheading,
.c-takeaways__heading + .c-takeaways__list,
.c-takeaways__subheading + .c-takeaways__list {
    margin-top: 16px;
}
@include media('>phone') {
    .c-takeaways__heading + .c-takeaways__subheading {
        margin-top: 16px;
    }
    .c-takeaways__subheading + .c-takeaways__list {
        margin-top: 16px;
    }
    .c-takeaways__heading + .c-takeaways__list {
        margin-top: 32px;
    }
}

.c-takeaways__item {
    position: relative;

    padding-left: 32px;

    font-size: 14px;
}

.c-takeaways__item:before {
    position: absolute;
    top: 9px;
    left: 0;

    display: block;

    width: 16px;
    height: 2px;

    content: '';

    background-color: $color_red;
}

.c-takeaways__item + .c-takeaways__item {
    margin-top: 16px;
}
