.ui-cms-custom-blog {
    h2,
    h2:not([class]) {
        margin: 0;
        font-size: 2.5rem;
        line-height: 1.25;
        font-weight: $weight_bold;
        color: #0A2B3D;
        letter-spacing: 0;
    }
    h3,
    h3:not([class]) {
        margin: 0;
        letter-spacing: 0;
        font-size: 1.5rem;
        line-height: 1.2;
        color: #37657F;
    }
    h4,
    h4:not([class]) {
        margin: 0;
        font-size: 1.25rem;
        line-height: 1.2;
        color: #37657F;
    }
    p:not([class]) {
        margin: 0;
        color: #585858;
        line-height: 1.4;
    }

    ul:not([class]) {
        @include helper--list;

        li:not([class]) {
            position: relative;

            padding-left: 32px;
        }

        li:not([class]):before {
            position: absolute;
            top: 9px;
            left: 0;
            display: block;
            width: 16px;
            height: 2px;
            content: '';
            background-color: #F33540;
        }

        li:not([class]) + li:not([class]) {
            margin-top: 16px;
        }

        li:not([class]) strong {
            font-weight: $weight_bold;
            color: $color_red;
        }
        li:not([class]) a {
            font-weight: $weight_bold;
            line-height: 1.4;
            color: #1C8AC8;
        }
    }
}


// spacing
.ui-cms-custom-blog {
    h2:not([class]) + h4:not([class]) {
        margin-top: 32px;
    }
    h2:not([class]) + p:not([class]) {
        margin-top: 24px;
    }
    h3:not([class]) + h4:not([class]) {
        margin-top: 32px;
    }
    h3:not([class]) + p:not([class]) {
        margin-top: 24px;
    }
    h4:not([class]) + p:not([class]) {
        margin-top: 32px;
    }
    ul:not([class]) + h4:not([class]) {
        margin-top: 42px;
    }
    p:not([class]) + p:not([class]) {
        margin-top: 16px;
    }
    p + h4,
    p:not([class]) + h4:not([class]) {
        margin-top: 64px;
    }
    p + h4,
    p:not([class]) + h3:not([class]) {
        margin-top: 64px;
    }
    p:not([class]) + ul:not([class]) {
        margin-top: 16px;
    }
    ul + p,
    ul:not([class]) + p:not([class]) {
        margin-top: 32px;
    }
    .c-question-heading-wrapper + p:not([class]),
    .c-question-heading-wrapper + ul:not([class]) {
        margin-top: 32px;
    }
    h2:not([class]) + .c-decor-image-wrapper,
    .c-decor-image-wrapper + h3:not([class]) {
        margin-top: 16px;
    }
    .c-chart-wrapper + h3:not([class]),
    .c-question-heading-wrapper + h3:not([class]),
    h3:not([class]) + .c-question-heading-wrapper,
    p:not([class]) + .c-question-heading-wrapper {
        margin-top: 32px;
    }
    .c-chart-wrapper + h4:not([class]) {
        margin-top: 32px;
    }
}