/* ==========================================================================
   Header
   ========================================================================== */
.l-header {
    @include helper--fixed--center-horizontal--vertical-to-top;

    position: relative;

    z-index: $index_header;

    transition: transform 500ms cubic-bezier(.19, 1, .22, 1), background-color 250ms ease-in-out;
    &__inner {
        z-index: $index_header_inner;

        padding: $size_gutter $size_gutter*2.5 $size_gutter $size_gutter*3;

        transition: padding 500ms cubic-bezier(.19, 1, .22, 1);
    }

    &__tools {
        position: fixed;
        right: $size_gutter*3;
    }

    &__box {
        display: flex;

        align-content: center;
        align-items: center;
        justify-content: center;
    }

    &__menu-toggler {
        position: fixed;
        left: $size_gutter * 2.5;

        .c-menu-toggler {
            &:hover {
                background: $color_white;
            }
        }
        &.is-sticky {
            .c-menu-toggler {
                background: $color_gray;
                &:hover {
                    background: $color_white;
                }
            }
        }
    }
    &__title {
        transition: 170ms ease;

        opacity: 1;
        &.is-sticky {
            transform: translateY(-100%);

            opacity: 0;
        }
    }
    &__nav-container {
        @include helper--absolute--left--top;

        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        overflow: hidden;

        width: 0;
        max-width: 0;
        height: $menu_active_height;

        transition: 670ms cubic-bezier(.19, 1, .22, 1);
        &.is-active {
            display: flex;

            width: $menu_active_width;
            max-width: $menu_active_width;
            .c-menu-close {
                transition: transform 370ms cubic-bezier(.19, 1, .22, 1), opacity 170ms ease-in-out;
                transform: rotate(360deg);

                opacity: 1;
            }
        }
    }
    &__nav {
        width: $menu_active_width;
        max-height: $menu_active_height;

        background: $color_black;
    }
    &.is-sticky {
        .l-header {
            &__title {
                transform: translateY(-100%);

                opacity: 0;
            }
        }
        .c-menu-toggler {
            background: $color_gray;
            &:hover {
                background: $color_white;
            }
        }
        .c-search__toggler {
            .o-icon--search {
                @include helper--transition;
            }
            &.changed-color {
                &.c-btn {
                    .o-icon--search {
                        color: $color_gray;
                    }
                }
                &.c-btn {
                    &:hover {
                        .o-icon--search {
                            color: $color_white;
                        }
                    }
                }
            }
            &.c-btn {
                .o-icon--search {
                    color: $color_gray;
                }
            }
            &:hover,
            &:active {
                &.c-btn {
                    .o-icon--search {
                        color: $color_dark_gray;
                    }
                }
            }
        }
    }
}

.l-header {
    @include media('<=tablet') {
        &__inner {
            padding-right: $size_gutter;
            padding-left: $size_gutter*1.5;
        }

        &__tools {
            right: $size_gutter*1.5;
        }

        &__menu-toggler {
            left: $size_gutter*1.5;
        }
    }
}

.l-header {
    @include media('<=tablet', 'portrait') {
        &__inner {
            padding-right: $size_gutter*.75;
            padding-left: $size_gutter*.75;
        }

        &__tools {
            right: $size_gutter*.75;
        }

        &__menu-toggler {
            left: $size_gutter*.75;
        }
    }
}


.l-header {
    @include media('<=phone') {
        &__nav {
            width: $menu_active_width_phone;
        }
        &__nav-container {
            &.is-active {
                width: $menu_active_width_phone;
                max-width: $menu_active_width_phone;
            }
        }
        &__title {
            .c-subtitle {
                display: none;
            }
        }
        &__inner {
            padding: $size_gutter/2;
        }

        &__tools {
            right: $size_gutter/2;
        }

        &__menu-toggler {
            left: $size_gutter/2;
        }
    }
}
