/* ==========================================================================
   Sub hero
   ========================================================================== */

.l-sub-hero {
    display: flex;

    width: 100%;
    max-width: 100%;
    height: 80vh;
    margin: auto;
    margin-top: -$main_padding_top + $logo_main_width;
    margin-bottom: -$main_padding_top / 4;
    &__wrapper {
        position: relative;

        width: 100%;
    }
    &__content {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;

        margin: 0 auto;

        transform: translateY(-50%);

        &--background {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;

            margin: 0 auto;

            transform: translateY(-50%);
        }
    }


    &--background {
        width: 100%;
        max-width: 100%;
        height: 100vh;
        margin: auto;
        margin-top: -$main_padding_top;
        margin-bottom: $size_gutter*3;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;

        &::before {
            content: '';
            background-color: black;
            width: 100%;
            height: 100vh;
            position: absolute;
            opacity: .5;
        }
    }
}

.l-sub-hero {
    @include media('<=tablet') {
        margin-top: -$main_padding_top_tablet - $logo_main_width;
        margin-bottom: 0;
    }
}

.l-sub-hero {
    @include media('<=phone') {
        margin-top: -$main_padding_top_phone;
        margin-bottom: 0;
        height: 80vh;

        &--background {
            width: 100%;
            max-width: 100%;
            height: 80vh;
            margin: auto;
            margin-top: -$logo_height;
            margin-bottom: $size_gutter*3;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
    
            &::before {
                content: '';
                background-color: black;
                width: 100%;
                height: 80vh;
                position: absolute;
                opacity: .5;
            }
        }
        
    }
}

.l-sub-hero {
    @include media('<=phone-custom') {
        margin-top: -$main_padding_top_phone;
        height: 75vh;
        margin-bottom: 0;

        &__content {
            &--background {
                top: 55%;
            }
        }

        &--background {
            top: 55%;
            width: 100%;
            max-width: 100%;
            height: 75vh;
            margin: auto;
            margin-top: -$logo_height;
            margin-bottom: $size_gutter*3;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
    
            &::before {
                content: '';
                background-color: black;
                width: 100%;
                height: 75vh;
                position: absolute;
                opacity: .5;
            }
        }
    }
}

.l-sub-hero {
    @include media('<=phone-small') {
        margin-top: -$main_padding_top_phone;
        height: 100vh;
        margin-bottom: 0;

        &__content {
            &--background {
                top: 55%;
            }
        }

        &--background {
            width: 100%;
            max-width: 100%;
            height: 100vh;
            margin: auto;
            margin-top: -$logo_height;
            margin-bottom: $size_gutter*3;
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
    
            &::before {
                content: '';
                background-color: black;
                width: 100%;
                height: 100vh;
                position: absolute;
                opacity: .5;
            }
        }
    }
}
