/* ==========================================================================
   Common styles
   ========================================================================== */
body.is-blocked {
    overflow: hidden;
}

@include media('<=phone') {
    body.open-menu {
        .l-main {
            overflow: hidden;
            height: calc(100vh - 200px);
        }

        .l-footer {
            overflow: hidden;
            height: 0;
        }
    }
}
