/* ==========================================================================
   Footer
   ========================================================================== */
.l-footer {
    margin-top: $main_footer_space;
    &__inner {
        display: flex;

        padding: $size_gutter*2 $size_gutter*3.5 $size_gutter*2 $size_gutter*3.5;

        border-top: 1px solid $color_light_gray;

        align-items: flex-end;
        align-content: flex-end;
        justify-content: space-between;
    }
}

.l-footer {
    @include media('<=tablet') {
        margin-top: $main_footer_space_tablet;
        &__inner {
            padding: $size_gutter $size_gutter*1.5;
        }
    }
}

.l-footer {
    @include media('<=tablet', 'portrait') {
        &__inner {
            padding-right: $size_gutter;
            padding-left: $size_gutter;
        }
    }
}

.l-footer {
    @include media('<=phone') {
        margin-top: $main_footer_space_phone;
        &__inner {
            padding-right: $size_gutter/2;
            padding-left: $size_gutter/2;

            flex-wrap: wrap;
            justify-content: center;
            .c-newsletter-teaser {
                order: 1;
            }
            .c-copyright {
                order: 2;
            }
        }
    }
}
