/* ==========================================================================
   Main content
   ========================================================================== */
.l-main {
    padding-top: $main_padding_top / 3;
}

body {
    overflow-x: hidden;
    .l-wrapper {
        overflow-x: hidden;
    }
}

.l-main {
    @include media('<=tablet') {
        padding-top: $main_padding_top_tablet / 3;
    }
}

.l-main {
    @include media('<=phone') {
        padding-top: $main_padding_top_phone / 3;
    }
}
