/* ==========================================================================
   Action-box
   ========================================================================== */

.c-action-box {
    display: flex;

    justify-content: space-between;
    align-content: center;
    align-items: center;
    &--wide {
        width: 100%;
    }
    &__input,
    &__btn {
        padding: $size_gutter/2 $size_gutter;
    }
    &__input {
        width: 100%;
        height: $newsletter_input_height;

        border-top-left-radius: $border_radius;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: $border_radius;

        flex-grow: 1;
    }
    &__btn {
        @include helper--transition;

        display: flex;

        height: $newsletter_btn_height;

        border-top-left-radius: 0;
        border-top-right-radius: $border_radius;
        border-bottom-right-radius: $border_radius;
        border-bottom-left-radius: 0;

        align-content: center;
        align-items: center;
        flex-shrink: 0;

        border-color: $color_white;

        &:hover {
            border-color: $color_white;
            background: $color_purple;
            .c-label {
                color: $color_white;
            }
        }
    }
}
