/* ==========================================================================
   Buttons
   ========================================================================== */

.c-btn {
    display: inline-flex;

    line-height: 1;

    cursor: pointer;

    border: 1px solid transparent;
    background: transparent;
    &__content {
        line-height: 1;
    }
    .c-label {
        width: 100%;

        line-height: 1;

        text-align: center;
    }

    &--newsletter {
        background-color: $color_white;
    }
}
