/* ==========================================================================
   Code
   ========================================================================== */

.c-code {
    position: relative;

    margin-top: $size_gutter*3;
    margin-bottom: $size_gutter*3;
    padding: $size_gutter*2 0;

    font-size: $font_2xs;

    display: flex;

    color: $color_white;
    background: $color_black;
    &:before,
    &:after {
        position: absolute;
        top: 0;
        bottom: 0;

        display: block;
        overflow: hidden;

        width: 100%;

        content: '';

        background: $color_black;
    }
    &:before {
        left: 1px;

        transform: translateX(-100%);
    }
    &:after {
        right: 1px;

        transform: translateX(100%);
    }
}
