/* ==========================================================================
   Forms
   ========================================================================== */
.f-form {
    /* Reset default form styles + tag styles
       ========================================================================== */
    fieldset {
        margin: 0;
        padding: 0;

        border: 0;
    }
    input,
    textarea,
    select {
        border: none;
        box-shadow: none;

        -webkit-appearance: none;
        &:focus {
            outline: none;
        }
    }
    textarea {
        min-height: $size_btn*4;
        max-height: $size_btn*8;
        padding: $size_gutter;

        resize: vertical;
    }
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset;
    }
    *::-ms-clear {
        display: none;
    }
    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
        color: currentColor;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
        color: currentColor;
    }
    input::-moz-placeholder,
    textarea::-moz-placeholder {
        color: currentColor;
    }
    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
        color: currentColor;
    }
    /* Form elements wrappers
       ========================================================================== */
    .f-input-wrapper,
    .f-select-wrapper,
    .f-textarea-wrapper,
    .f-checkbox-wrapper {
        position: relative;

        cursor: pointer;
    }
    .f-input-wrapper,
    .f-textarea-wrapper {
        @include helper--flex--stretch;
        input,
        textarea {
            @include helper--transition;
            width: 100%;

            border: 1px solid $color_light_gray;
            background: transparent;
            &:focus {
                border-color: $color_border;
            }
        }
    }
    .f-input-wrapper {
        input {
            width: 100%;
            height: $size_btn;
            padding: 0 $size_gutter 0 $size_gutter;
        }
    }
    .f-textarea-wrapper {
        // textarea {
        //     padding-right: calc(#{$size_gutter} * 2 + 20px );
        // }
    }
    .f-select-wrapper {
        position: relative;

        overflow: hidden;
        select {
            position: relative;
            z-index: 3;

            width: 100%;
            height: $size_btn;
            // padding: 0 calc(#{$size_btn} + #{$size_gutter} - 8px) 0 $size_gutter;

            border: none;
            border-radius: 0;
            background: transparent;

            -webkit-appearance: none;
               -moz-appearance: none;
        }
        select::-ms-expand {
            display: none;
        }
    }

    .f-checkbox-wrapper {
        input {
            position: relative;

            width: $size_gutter;
            height: $size_gutter;
    
            margin-right: $size_gutter * 0.75;

            &:before {
                content: '';
    
                position: absolute;
                top: 0;
                left: 0;
    
                width: $size_gutter * 1.25;
                height: $size_gutter * 1.25;
    
                border: 1px solid $color_light_gray;
                background-color: $color_white;
            }
            &:after {
                position: absolute;
        
                left: $size_gutter * 0.25;
                top: $size_gutter * 0.25;
        
                width: $size_gutter * 0.75;
                height: $size_gutter / 2;
        
                border-bottom: 2px solid $color_black;
                border-left: 2px solid $color_black;
        
                transform: rotate(-55deg);
            }
            &:checked {
    
                &:after {
                    content: '';
                }
            }
            &:focus {
                &:before {
                    background-color: $color_white;
                    border-color: $color_border;
                }
            }
        }

        label {
            line-height: $size_gutter;
        }
    }

    .f-field {
        .is-invalid {
            color: $color_red;
        }
        .is-hidden {
            display: none;
        }
    }

}
