/* ==========================================================================
   Links
   ========================================================================== */

.c-read-more {
    @include helper--link-anim;

    display: inline-block;
}

.c-newsletter-teaser__link {
    @include helper--link-anim;
}
