/* ==========================================================================
   Main-nav
   ========================================================================== */

.c-main-nav-list {
    @include helper--list;
    @include helper--inline-flex;

    flex-direction: column;

    align-content: flex-start;
    align-items: flex-start;
    &__item {
        @include helper--inline-flex;

        &.is-active {
            .c-main-nav-list__item__link {
                color: $color_gray;
                &:hover {
                    color: $color_gray;
                }
            }
        }
        &__link {
            @include helper--link-anim
            @include helper--transition;

            display: block;

            padding: $main_nav_space 0;
        }
        &:not(:last-child) {
            margin-bottom: $size_gutter*1.5;
        }
    }
}

.c-main-nav-list {
    @include media('<=phone') {
        &__item {
            &:not(:last-child) {
                margin-bottom: $size_gutter;
            }
        }
    }
}

.c-main-nav-list {
    @include media('<=phone-small') {
        &__item {
            &:not(:last-child) {
                margin-bottom: $size_gutter/2;
            }
        }
    }
}

.c-main-nav {
    display: flex;
    overflow-y: auto;
    flex-direction: column;

    width: $menu_active_width;
    height: $menu_active_height;
    max-height: $menu_active_height;
    padding: $size_gutter $size_gutter*3 $size_gutter*2 $size_gutter*3;
    &__navigation {
        flex-grow: 1;
        & + .c-main-nav__socials {
            margin-top: $size_gutter*4;
        }
    }
    &__toggler {
        & + .c-main-nav__navigation {
            margin-top: $size_gutter*4;
        }
    }
}

.c-main-nav {
    @include media('<=tablet') {
        padding-right: $size_gutter*1.5;
        padding-left: $size_gutter*1.5;
        &__toggler {
            & + .c-main-nav__navigation {
                margin-top: $size_gutter*3;
            }
        }
        &__navigation {
            & + .c-main-nav__socials {
                margin-top: $size_gutter*3;
            }
        }
    }
}

.c-main-nav {
    @include media('<=phone') {
        width: 100%;
        padding-top: $size_gutter/2;
        padding-bottom: $size_gutter*.75;

        justify-content: space-between;
        &__toggler {
            margin-right: -$size_gutter;
            margin-left: -$size_gutter;
            & + .c-main-nav__navigation {
                margin-top: $size_gutter;
            }
        }
        &__navigation {
            flex-grow: 0;
            & + .c-main-nav__socials {
                margin-top: $size_gutter*2.5;
            }
        }
    }
}

.c-main-nav {
    @include media('<=phone', 'landscape') {
        &__toggler {
            & + .c-main-nav__navigation {
                margin-top: $size_gutter*2;
            }
        }
        &__navigation {
            & + .c-main-nav__socials {
                margin-top: $size_gutter*2;
            }
        }
    }
}
