/* ==========================================================================
   Menu togglers
   ========================================================================== */
.c-menu-toggler,
.c-menu-close {
    position: relative;

    display: flex;

    width: $menu_toggler_size;
    height: $menu_toggler_size;
    padding: 0;

    cursor: pointer;

    outline: none;

    align-content: center;
    align-items: center;
}

.c-menu-toggler {
    @include helper--transition;

    transform: rotate(180deg);

    border: $menu_toggler_border_width solid transparent;
    border-radius: 50px;
    background: $color_dark_gray;

    flex-shrink: 0;
    &:hover {
        border-color: $color_purple;
        background: $color_white;
        .c-menu-toggler {
            &__lines {
                right: 0;

                width: $menu_stick_width;

                background: $color_purple;
                &:before,
                &:after {
                    right: 0;

                    width: $menu_short_stick_width;

                    background: $color_purple;
                }
            }
        }
    }
    &__lines {
        @include helper--transition;

        position: relative;
        right: $menu_short_stick_half_width;

        width: $menu_short_stick_width;
        height: $menu_stick_height;

        background: $color_white;
        &:before,
        &:after {
            @include helper--transition;

            position: absolute;
            right: 0;
            left: 0;

            display: block;

            width: $menu_stick_width;
            height: $menu_stick_height;

            content: '';

            background: $color_white;
        }
        &:before {
            bottom: calc(-#{$menu_sticks_space)} - #{$menu_stick_height});
        }
        &:after {
            top: calc(-#{$menu_sticks_space)} - #{$menu_stick_height});
        }
    }
    &__wrap {
        display: flex;

        width: $menu_toggler_wrap_size;
        height: $menu_toggler_wrap_size;
        margin: 0 auto;

        align-content: center;
        align-items: center;
        justify-content: center;
    }
    &__info {
        display: none;
    }
}

.c-menu-close {
    transition: transform 270ms cubic-bezier(.19, 1, .22, 1), opacity 270ms ease-in-out;
    transform: rotate(0deg);

    opacity: 0;
    border: none;
    background: transparent;

    justify-content: center;
    flex-shrink: 0;
    &__inner {
        display: flex;

        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .o-icon {
        color: $color_light_gray;

        stroke: currentColor;
    }
    &:hover {
        .o-icon {
            color: $color_white;

            stroke: currentColor;
        }
    }
}

.c-menu-toggler,
.c-menu-close {
    @include media('<=phone') {
        width: $menu_toggler_size_small;
        height: $menu_toggler_size_small;
    }
}
