/* ==========================================================================
   Navigations
   ========================================================================== */
.c-post-navigation {
    display: flex;

    align-content: center;
    align-items: center;
    justify-content: space-between;
    &__prev,
    &__next {
        &.is-disabled {
            pointer-events: none;
            .o-icon {
                color: $color_light_gray;
            }
        }
        .o-icon {
            @include helper--transition;

            color: $color_purple;
        }
    }
    &__prev {
        &:hover {
            .o-icon {
                transform: translate(-5px);
            }
        }
    }
    &__next {
        &:hover {
            .o-icon {
                transform: translate(5px);
            }
        }
    }
}
