/* ==========================================================================
   Popup
   ========================================================================== */

.c-popup {
    position: fixed;

    display: none;
    z-index: 10;
    
    &--newsletter {
        right: $size_gutter*2;
        bottom: $size_gutter*1.5;

        width: $popup_newsletter_width;
        padding: $size_gutter*2;

        opacity: .95;
        border-radius: 4px;
    }
    &__close {
        position: absolute;
        top: $size_gutter;
        right: $size_gutter;
        .o-icon {
            color: $color_white;

            stroke: currentColor;
        }
    }
}

.c-popup {
    @include media('<=phone') {
        &--newsletter {
            right: $size_gutter/2;
            bottom: $size_gutter/2;
            left: $size_gutter/2;

            width: $popup_newsletter_width_mobile;
            padding: $size_gutter*1.5;
        }
    }
}
