/* ==========================================================================
   Search
   ========================================================================== */

.c-search {
    position: relative;
    &__toggler {
        width: $search_toggler_size;
        height: $search_toggler_size;

        align-content: center;
        align-items: center;
        justify-content: center;
        &:hover,
        &:active {
            &.c-btn {
                .o-icon--search {
                    color: $color_default;
                }
            }
        }
        &.c-btn {
            .o-icon--search {
                @include helper--transition;

                color: $color_dark_gray;
            }
            .c-label {
                display: block;
                overflow: hidden;

                width: 0;
                height: 0;

                text-indent: -999em;
            }
        }
    }
    &__close {
        display: none;
    }
    &__wrapper {
        @include helper--fixed--center--center;

        visibility: hidden;
        overflow: hidden;

        padding: $size_gutter*3 $size_gutter*6;

        transition: opacity 370ms cubic-bezier(.19, 1, .22, 1), visibility 370ms cubic-bezier(.19, 1, .22, 1);

        opacity: 0;
        &.is-active {
            z-index: $index_search;

            visibility: visible;

            width: 100vw;
            height: 100vh;

            transition: opacity 370ms cubic-bezier(.19, 1, .22, 1), visibility 370ms cubic-bezier(.19, 1, .22, 1);

            opacity: 1;
            .c-search {
                &__close {
                    display: flex;

                    justify-content: center;
                    align-content: center;
                    align-items: center;
                }
            }
            .f-search-box {
                transition: opacity .170s ease-in-out;
                transition-delay: .05s;

                opacity: 1;
            }
        }
    }
    &__close {
        position: fixed;
        top: $size_gutter;
        right: $size_gutter*2.5;

        width: $search_toggler_size;
        height: $search_close_size;
        .o-icon {
            color: $color_white;

            stroke: currentColor;
        }
    }
    &--alt {
        .c-search__toggler {
            &.c-btn {
                .o-icon--search {
                    color: $color_gray;
                }
            }
            &:hover,
            &:active {
                &.c-btn {
                    .o-icon--search {
                        color: $color_default;
                    }
                }
            }
        }
    }
}

.c-search {
    @include media('<=tablet') {
        &__wrapper {
            padding-right: $size_gutter*3;
            padding-left: $size_gutter*3;
        }
        &__close {
            right: $size_gutter;
        }
    }
}

.c-search {
    @include media('<=phone') {
        &__toggler {
            width: $search_toggler_size_small;
            height: $search_toggler_size_small;
        }
        &__wrapper {
            padding: $size_gutter $size_gutter/2;
        }
        &__close {
            top: $size_gutter/2;
            right: $size_gutter/2;

            width: $search_close_size_small;
            height: $search_close_size_small;
        }
    }
}

.f-search-box {
    position: relative;
    top: calc(50% - #{$search_space_top});

    width: $search_input_width;
    margin: 0 auto;
    padding: $size_gutter*3;

    transform: translateY(-50%);

    opacity: 0;
    &__inner {
        display: flex;

        justify-content: center;
        align-content: center;
        align-items: center;
    }
    &__input {
        width: 100%;
        padding: 0;

        text-align: center;

        border-width: 0;
        border-bottom: 1px solid $color_semi_gray;
        border-radius: 0;
        background: transparent;
        &:focus {
            opacity: 1;
            outline: 0;
        }
    }
}

.f-search-box {
    @include media('<=phone') {
        padding: $size_gutter;
    }
}
