/* ==========================================================================
   Socials
   ========================================================================== */

.c-socials-list {
    @include helper--list;

    display: flex;

    align-items: flex-end;
    align-content: flex-end;
    &__item {
        &:not(:first-child) {
            margin-left: $size_gutter;
        }
        &__link {
            display: block;
            .o-icon {
                @include helper--transition;
            }
            &:hover {
                .o-icon {
                    transform: scale(1.15, 1.15);

                    color: $color_white;
                }
            }
        }
    }
}

.c-socials-share-list {
    @include helper--list;
    &__item {
        &:not(:last-child) {
            margin-bottom: $social_share_icon_space;
        }
        &__link {
            @include helper--transition;

            display: block;
            &:hover {
                &.c-twitter {
                    box-shadow: inset 0 0 0 2px $color_twitter;
                    .o-icon {
                        color: $color_twitter;
                    }
                }
                &.c-snapchat {
                    box-shadow: inset 0 0 0 2px $color_snapchat;
                    .o-icon {
                        color: $color_snapchat;
                    }
                }
                &.c-facebook {
                    box-shadow: inset 0 0 0 2px $color_facebook;
                    .o-icon {
                        color: $color_facebook;
                    }
                }
                &.c-pinterest {
                    box-shadow: inset 0 0 0 2px $color_pinterest;
                    .o-icon {
                        color: $color_pinterest;
                    }
                }
                &.c-instagram {
                    box-shadow: inset 0 0 0 2px $color_instagram;
                    .o-icon {
                        color: $color_instagram;
                    }
                }
            }
            &.c-facebook,
            &.c-snapchat,
            &.c-pinterest,
            &.c-instagram,
            &.c-twitter {
                display: flex;

                width: $social_share_wrapper;
                max-width: $social_share_wrapper;
                height: $social_share_wrapper;
                max-height: $social_share_wrapper;

                border-radius: 50px;

                align-content: center;
                align-items: center;
                justify-content: center;
            }
            &.c-twitter {
                box-shadow: inset 0 0 0 50px $color_twitter;
            }
            &.c-facebook {
                box-shadow: inset 0 0 0 50px $color_facebook;
            }
            &.c-snapchat {
                box-shadow: inset 0 0 0 50px $color_snapchat;
            }
            &.c-pinterest {
                box-shadow: inset 0 0 0 50px $color_pinterest;
            }
            &.c-instagram {
                box-shadow: inset 0 0 0 50px $color_instagram;
            }
            .o-icon {
                width: $social_share_icon_size;
                max-width: $social_share_icon_size;
                height: $social_share_icon_size;
                max-height: $social_share_icon_size;
                &--twitter,
                &--snapchat,
                &--instagram,
                &--pinterest,
                &--facebook {
                    color: $color_white;
                }
            }
        }
    }
    &--alt {
        display: flex;
        .c-socials-share-list {
            &__item {
                &:not(:last-child) {
                    margin-right: $size_gutter/2;
                    margin-bottom: 0;
                }
                &__link {
                    &.c-facebook,
                    &.c-snapchat,
                    &.c-instagram,
                    &.c-pinterest,
                    &.c-twitter {
                        width: $social_share_alt_wrapper;
                        max-width: $social_share_alt_wrapper;
                        height: $social_share_alt_wrapper;
                        max-height: $social_share_alt_wrapper;
                    }
                    .o-icon {
                        width: $social_share_icon_alt_size;
                        max-width: $social_share_icon_alt_size;
                        height: $social_share_icon_alt_size;
                        max-height: $social_share_icon_alt_size;
                    }
                }
            }
        }
    }
}

.c-simple-text {
    & + .c-socials-list {
        margin-top: $size_gutter;
    }
}

.c-socials-share {
    @include helper--transition;

    position: absolute;
    z-index: $index_socials;
    right: $social_share_space_right;
    bottom: $size_gutter*2;

    display: flex;
    flex-direction: column;

    align-content: center;
    align-items: center;
    &__title {
        text-align: center;
        & + .c-socials-share__content {
            margin-top: $size_gutter/2;
        }
    }
    &.is-sticky {
        position: fixed;
        bottom: 50%;
        

        transform: translateY(50%);
        .c-socials-share__title {
            transition: 180ms ease;

            color: $color_semi_gray;
        }
        &.changed-color {
            .c-socials-share__title {
                color: $color_white;
            }
        }
    }
}

.c-socials-share {
    @include media('<=tablet') {
        right: $size_gutter;
    }
}

.c-socials-share {
    @include media('<=phone') {
        right: $social_share_space_right_tablet;
        left: inherit;
        &.is-sticky {
            bottom: 0;
            left: $size_gutter/2;

            margin-right: -$social_share_space_right_tablet;
            margin-left: -$size_gutter/2;

            transform: translateY(0);

            background-color: $color_socials_background;
            .c-socials-share-list {
                display: flex;

                align-content: center;
                align-items: center;
                justify-content: center;
                &__item {
                    &:not(:last-child) {
                        margin-right: $social_share_icon_space;
                        margin-bottom: 0;
                    }
                }
            }
            .c-socials-share {
                &__inner {
                    padding: $size_gutter/2 0;
                }
                &__title {
                    @include helper--indent;
                    & + .c-socials-share__content {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
